
<section class="orapma-margin">
  <div class="landing-page-hero-container">
    <div class="row m-0 landing-page-hero">
      <div class="col-10 mt-3 col-lg-5">
        <h1 class="display-5 mb-4">FaleMais, o plano que você sempre quis</h1>
        <p>Conecte-se com transparência, sem preocupações e com um plano ideal que cabe no seu bolso. Faça uma simulação agora mesmo!</p>
        <button class="btn btn-primary btn-lg">Fazer simulação</button>
      </div>

      <div class="col-10 col-lg-5">
        <img class="img-fluid" src="../../../../assets/svg/phone-connection.svg" alt="Imagem de celular">
      </div>
    </div>
  </div>
</section>

<section class="section-container section-primary align-center">
  <div class="orapma-margin">
    <simulation-form></simulation-form>
  </div>
</section>
