
<div class="row d-flex justify-content-center">
  <div class="col-9 mb-4">
    <h1>Escolha um plano e simule quanto vai economizar!</h1>
  </div>
  <form [formGroup]="simulationForm" (ngSubmit)="onSimulationFormSubmit()">
    <div class="row m-0">
      <div class="col-6 col-sm-3 mb-3">
        <label class="form-label">DDD de origem:</label>
        <select
        (change)="onDDDFromChange($event)"
        class="form-select"
        formControlName="dddFromField">
          <option *ngFor="let ddd of dddFromList" value="{{ddd}}">{{ddd}}</option>
        </select>
      </div>
      <div class="col-6 col-sm-3 mb-3">
        <label class="form-label">DDD de destino:</label>
        <select
        class="form-select"
        formControlName="dddToField">
          <option *ngFor="let ddd of dddToList" value="{{ddd}}">{{ddd}}</option>
        </select>
      </div>
      <div class="col-6 col-sm-3 mb-3">
        <label class="form-label">Plano:</label>
        <select
        class="form-select"
        formControlName="planField">
          <option *ngFor="let plan of faleMaisPlans" value="{{plan.id}}">{{plan.name}}</option>
        </select>
      </div>
      <div class="col-6 col-sm-3 mb-3 position-relative">
        <label class="form-label">Minutos de ligação:</label>
        <input
        type="number"
        class="form-control"
        [class.is-invalid]="(simulationFormSubmitted && minutesField.dirty) && !minutesField.valid"
        formControlName="minutesField">
        <div class="invalid-tooltip">
          <span *ngIf="minutesField.hasError('required')">O campo é obrigatório</span>
          <span *ngIf="minutesField.hasError('min')">Número inválido</span>
        </div>
      </div>

      <div class="col-12 mt-3">
        <div class="d-grid">
          <button class="btn btn-outline-light btn-lg">Calcular preço</button>
        </div>
      </div>
    </div>
  </form>

  <div
  *ngIf="priceString || priceWithoutPlanString"
  class="row justify-content-center">
    <div class="col-10">
      <div class="card mt-5">
        <div class="row g-0">
          <div class="col-md-4 d-flex align-items-center">
            <img class="img-fluid rounded-start" src="../../../../assets/svg/phone-call.svg" alt="">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Plano {{planNameString}}</h5>
              <div class="row g-0">
                <div class="col-12">
                  <p class="card-text text-muted">Preço da ligação (sem {{planNameString}}): {{priceWithoutPlanString}}</p>
                </div>
                <div class="col-12">
                  <p class="card-text fs-5">Preço da ligação (com {{planNameString}}):
                    <br>{{priceString}}
                    <small class="ms-2 fs-6 text-color-primary">{{percentDiscountString}}</small>
                  </p>
                </div>
              </div>
              <div class="d-grid mt-3">
                <button class="btn btn-primary">Contratar plano</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>