
.section-container {
  padding: 30px 0;
  min-height: 90vh;
}

.section-container.section-primary {
  background-color: #00AF66;
  color: white;
}

.section-container.align-center {
  display: flex;
  align-items: center;
}